

/*** ELEMENT ***/

body{

	/*background-image: url("../images/wallpaper.png");*/
	/*https://css-tricks.com/perfect-full-page-background-image/*/
	background: url(../images/wallpaper.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background: #007bff;*/
}

div{
	text-align: center;
}

/*** CLASS ***/

.row{
	margin: 0px;
}

.resultHeader{
	margin: auto;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	font-weight: bolder;
}

.resultDataQuestion{
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.resultData{
	margin-left: 30px;
	padding: 10px;
	font-size: 20px;
	text-align: left;
}

.responseText{
	padding: 20px;
}

.answerButton{
	background-color: #ffc107; 
	border: 5px solid #dc3545;
	margin: 2px;
	padding: 5px;
	width: 100%;
	height: auto;
	min-width: 100%;
	color: #dc3545;
	font-size: 20px;
	font-weight: bold;
}

.answerButton:hover{
	background-color: #ffc107; 
	border-color: #6c131c;
	color: #6c131c;
}

.banner{
	margin: auto;
}

/*** ID ***/ 

#headerDiv{
	margin: auto;
}

#stardewLogo{
	display: block;
	margin: 20px auto 10px auto;
}

#triviaLogo{
	display: block;
	margin: 10px auto 10px auto;
}

#btn-start{
	background-color: #007bff;
	border: 5px solid #007bff;
	width: 50%;
	margin: auto;
	padding: 10px;
	font-weight: bold;
}

#btn-start:hover{
	background-color: #007bff;
	border-color: #003166;
}

#audioButton{
	background-color: #dc3545;
	border: 1px solid #dc3545;
	margin: 2px;
	padding: 5px;
}

#timerDiv{
	display: none;
}

#innerDiv{
	margin: auto;
	padding: 10px;
	width: 100%;
}

#answerDiv{
	display: none;
	width: 90%;
	margin: auto;
}

#mainDiv{
	margin: 20px auto 0px auto;
	padding: 10px;
	min-height: 60vh;
	min-width: 60vw;
	background-color: #ffc107;
	overflow: hidden;
}

#resultsDiv{
	display: none;
	margin: auto;
	width: 100%;
	padding: 10px;
}

#btn-restart{
	display: none;
	background-color: #28a745;
	border: 5px solid #28a745;
	width: 50%;
	margin: auto;
	padding: 10px;
	font-weight: bold;
}

#btn-restart:hover{
	background-color: #28a745;
	border-color: #145222;
}

#questionDiv{
	display: none;
	margin: auto;
	padding: 20px;
	font-weight: bolder;
	text-align: center
}



#questionImg{
	width: 100%;
	margin: 20px auto 20px auto;
}

#footerDiv{
	margin: auto;
	min-height: 5vh;
	padding: 10px;
}

/*** Media Queries ***/

@media screen and (max-width: 768px){

	[class*="col-"] {
  		width: 100%;
	}

	.container{
		padding: 0px;
	}

	#mainDiv{
		padding: 10px;
		min-height: 60vh;
		width: 100%;
		overflow: hidden;
	}

}


