
body{
	background-image: url("../images/wallpaper.png");
}

#mainDiv{
	padding: 5px;
}

#stardewLogo{
	margin-top: 20px;
}

#audioButton{
	background-color: #dc3545; /*danger red*/
	border: 1px solid #dc3545; /*danger red*/
	margin: 2px;
	padding: 5px;
}

#topRow{
	min-height: 10vh;
}	

#mainDiv{
	margin-top: 10vh;
	min-height: 80vh;
	min-width: 50vh;
	background-color: #ffc107; /*warning yellow*/
	overflow: hidden;
}

.answerButton{
	background-color: #dc3545; /*danger red*/
	border: 1px solid #dc3545; /*danger red*/
	margin: 2px;
	padding: 5px;
}

#restartDiv{
	display: none;
}

#btn-restart{
	background-color: #28a745; /*danger red*/
	border: 1px solid #28a745; /*danger red*/
	margin: 2px;
	padding: 5px;
}


